<h2> <%= @game.player1.name %> vs. <%= @game.player2.name %>: <%= @game.player2.hp %>HP </h2>
<form action = '/attack' method = 'get'>
  <button type='submit' value='attack'>Attack</button>
</form>

You have attacked <%= @game.player2.name %>
