<h2> <%= @player1.name %> vs. <%= @player2.name %>: <%= @player2_hp %>HP </h2>
<form action = '/attack' method = 'get'>
  <button type='submit' value='attack'>Attack</button>
</form>

You have attacked <%= @player2.name %>
